@model HesabAccount

@{
    ViewBag.Title = "New Account";
}

<h4 class="display-4" align="center">Kholo Hesab Account</h4>

<br>

<div class="card card-dark bg-dark" style=" color: white;">

<div class="row card-body">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                </div>
                <div class="col">
                <input type="text" class="form-control" asp-for="Balance" placeholder="Balance">
                </div>
            </div><br>
            <div class="form-group">
                <input asp-for="Description" placeholder="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <button type="submit" style="width: 100%;" class="btn btn-primary">Kholo</button>


        </form>
    </div>
</div>
</div>